.DS_Store
results
writeup
JohnMAE-267
#Name of compiled main function
main
*.dat
*.pdf
*.png
#i/o output record files
output.txt
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
