.DS_Store
results
writeup
JohnMAE-267
*.err
*.out
#Name of compiled main function
main
*.xyz
*.dat
*.pdf
*.png
#i/o output record files
output.txt

# Compiled Object files
*.o
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
